.container-fluid {
  background-color: #f9fafc;
}

.card {
  background: #fff;
}

.bg-primary-right {
  background-color: #eef3ff !important;
  border-top-left-radius: 20%;
}

.bg-primary-left {
  border-bottom-right-radius: 20%;
}
